body {
    margin: 0;
    text-align: center;
}

.container {
    text-align: center;
    height: auto;
    width: 400px;
    border: 1px solid rgb(243, 183, 4);
    padding: 15px;
    transform: translateX(-50%);
    margin-left: 50%;
    border-radius: 20px;
    background-color: rgb(243, 183, 4);
}

img {
    width: 378px;
    height: auto;
    border-radius: 20px;
}